<%= form_for @recurring_event do |f| %>
  <% if @recurring_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recurring_event.errors.count, "error") %> prohibited this recurring event from being saved:</h2>

      <ul>
      <% @recurring_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :select_for_options %>
    <%= f.select_recurring :recurring%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>