<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recurring_event.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @time %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @recurring_event.recurring %>
</p>




<%= link_to "Delete This Set of Recurring Events", recurring_event_path(@recurring_event), method: :delete %>

<%= link_to 'Edit', edit_recurring_event_path(@recurring_event) %> |
<%= link_to 'Back', recurring_events_path %>